/* playfair-display-500 */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}

/* playfair-display-600 */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}

/* bitter-400 */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Bitter-Regular.ttf') format('truetype');
}

