@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all:unset;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content {
  padding: 0 calc(50% - 1400px / 2);
}

h1, h2 {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
}

h4 {
  font-weight: 700;
}

dt {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

blockquote {
  font-family: "Bitter";
  font-weight: 400;
}

/* Header section styles */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 135px;
}

.header h1 {
  font-weight: 600;
}

.header-spacer {
  margin-right: auto; 
}

.nav-list {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 55px;
}

.btn {
  width: 31px;
  height: 30px;
  border: none;
  background-image: url("../img/icons/more-options.svg");
  background-color: white;
}

/* Hero section styles */

.hero-section {
  display: flex;
  background-image: url("../img/mod-studio-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center; 
  align-items: center;
  min-height: 630px;
}

.hero {
  display: flex;
  width: 690px;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.hero p {
  font-size: 24px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 150px;
  align-items: center;
  margin: 150px auto;
}

.designers, .strong-points {
  overflow-x: auto;
  max-width: 100vw;
  padding: 0 20px;
}

.section-name {
  font-size: 24px;
  font-weight: 700;
}

.rotated {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

/* Biography section styles */

#biography {
  align-self: flex-start;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1165px;
}

.biography-image {
  width: 49%;
  min-width: 390px;
}

.biography-text {
  width: 39%;
}

.biography-person-name {
  margin-bottom: 38px;
  width: 120px;
}

.biography-title p {
  font-size: 18px;
  font-weight: 500;
}


.biography-person-skills { white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
 }

.biography-person-skills li {
  display: inline-block;
  &:not(:last-child)::after {
    content: "/";
  }
}

hr {
  width: 20px;
  border: 3px solid black;
  margin-top: 34px;
  margin-bottom: 22px;
}

.biography-quote {
  font-size: 26px;
  padding-right: 77px;
}

/* Designers section styles */

#designers, #strong-points {
  padding-bottom: 30px;
  padding-left: 119px;
}

.designers-list {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

.designer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
}

.designer-annotation, .designer-smaller-image{
  width: 337px;
}

.designer-bigger-image {
  width: 572px;
}

.from-and-skills :is(dt, dd) {
  display: inline-block;
}

/* Testimonials section styles*/

.testimonials {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 7% 40% 6% 47%;
  grid-template-areas: "col-1 col-2 col-3 col-4";
  justify-items: center;
  align-items: stretch;
}

.testimonials-links {
  grid-area: col-1;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.testimonials-main-image {
  grid-area: col-2;
  width: 100%;
}

#testimonials {
  grid-area: col-3;
  text-align: right;
}

.testimonials-info {
  grid-area: col-4;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 41%;
  text-align: center;
}

.testimonials-quote {
  font-size: 32px;
}

/* Strengths section styles */

.strong-points-images-and-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.strong-points-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  padding-left: 36px;
  padding-right: 36px;
}

.strong-points-images-and-list img {
  width: 335px;
}

/* Footer section styles */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.phone-and-mail {
  font-style: normal;
}

.product-of strong {
  font-size: 24px;
  font-weight: 900;
}

@media (max-width: 768px) {

  h2 {
    font-size: 70px;
  }

  .biography-quote, .testimonials-quote {
    font-size: 30px;
    font-weight: 300;
  }

  .section-name, .testimonials-links {
    writing-mode: horizontal-tb;
    rotate: none;
  }

  .section-name {
    font-size: 18px;
  }

  /* header tablet styles */

  .header {justify-content: space-between;
      padding-left: 16px;
      padding-right: 35px;
      min-height: 82px;
    }
  
  .header h1, .header-spacer {
    display: none;
  }

  nav {
    width: 84%;
  }
    
  .nav-list {
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
  }
  .nav-list li {
    color: #fff;
    width: 27px;
    white-space: nowrap;
    &::first-letter {
      color: black;
      font-family: "Bitter";
      font-weight: 400;
      font-size: 40px;
    }
  }

  /* hero tablet styles */

  .hero-section {
    background-image: url("../img/hero-background-pic-tablet.jpg");
    align-items: start;
    min-height: 685px;
  }

  .hero {
    width: 100%;
    height: 303px;
  }

  .hero p {
    font-size: 18px;
  }

  .container {
    gap: 80px;
    margin: 80px auto;
    padding: 0 14px;
  }

  /* biography tablet styles */

  .biography {
    flex-wrap: wrap;
  }

  .biography-title, .biography-text{
    display: contents;
  }

  .biography-person-skills {
    order: 1;
    width: 50%
  }

  .biography-person-skills li {
    display: block;
    &:before {
      content: "- ";
    }
    
    &:not(:last-child)::after {
      content: none;
    }
  }

  #biography {
    order: 2;
    width: 50%;
    text-align: right;
    vertical-align: top;
  }

  .biography-quote {
    order: 3;
    padding: 57px 32% 120px 14px;
    width: 100%;
  }

  .biography hr {
    display: none;
  }

  .biography-person-name {
    order: 4;
    width: 100%;
    font-size: 64px;
    font-weight: 400;
    &:before {
      content: "-";
    }
  }

  .biography-image {
    order: 5;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  /* Designers tablet section styles */

  #designers, #strong-points {
    padding: 0 0 32px 0;
  }

  .designer-bigger-image, .designer-smaller-image {
    width: 310px;
    height: 440px;
  }

  .designer-bigger-image {
    object-fit: cover;
  }

  .designer-smaller-image {
    object-fit: fill;
  }

  .designer-annotation {
    width: 310px;
  }

  /* testimonials tablet section styles */

  .testimonials-main-image {
    display: none;
  }

  .testimonials {
    display: flex;
    flex-wrap: wrap;
  }

  #testimonials {
    width: 100%;
    order: 1;
  }

  .testimonials-info {
    width: 100%;
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 0;
  }

  .testimonials-info img {
    width: 46%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .testimonials-quote {
    width: 48%;
    /* font-size: 30px; */
    padding-top: 29px;
  }

  .testimonials-links {
    order: 3;
    width: 90%;
    justify-content: space-between;
  }

  /* Strong points tablet styles */

  .strong-points-list {
    order: 1;
    padding: 0;
    margin-top: -8px;
  }

  .strong-points-list h2 {
    font-size: 46px;
  }

  .strong-points-list ul {
    font-size: 24px;
    line-height: 1.5;
  }

  .strong-points-images-and-list img {
    width: 310px;
    aspect-ratio: 1.5;
  }

  .strong-points-images-and-list img:nth-child(1) {order: 2;}
  .strong-points-images-and-list img:nth-child(2) {order: 3;}
  .strong-points-images-and-list img:nth-child(4) {order: 4;}

  /* Footer tablet styles */

  .footer {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 45px 14px;
  }

  .phone-and-mail {
    order: 2;
    line-height: 2;
  }

  .product-of {
    order: 1;
    align-self: end;
  }

  .copyright {
    order: 3;
    font-size: 16px;
  }
}
