@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all:unset;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content {
  padding: 0 calc(50% - 1400px / 2);
}

h1, h2 {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
}

dt {
  font-weight: 700;
}

/* Header section styles */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 135px;
}

.header h1 {
  font-weight: 600;
}

.header-spacer {
  margin-right: auto; 
}

.nav-list {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 55px;
  list-style-type: none;
}

.btn {
  width: 31px;
  height: 30px;
  border: none;
  background-image: url("../img/icons/more-options.svg");
  background-color: white;
}

/* Hero section styles */

.hero-section {
  display: flex;
  background-image: url("../img/mod-studio-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center; 
  align-items: center;
  min-height: 630px;
}

.hero {
  display: flex;
  width: 690px;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.hero p {
  font-size: 24px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 150px;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.section-name {
  font-size: 24px;
  font-weight: 700;
}

.rotated {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

/* Biography section styles */

#biography {
  align-self: flex-start;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1165px;
}

.biography-image {
  width: 49%;
  min-width: 390px;
}

.biography-text {
  width: 39%;
}

.biography-title h2 {
  margin-bottom: 38px;
}

.biography-title p {
  font-size: 18px;
  font-weight: 500;
}

hr {
  width: 20px;
  border: 3px solid black;
  margin-top: 34px;
  margin-bottom: 22px;
}

blockquote {
  font-family: "Bitter";
  font-weight: 400;
}

.biography-quote {
  font-size: 26px;
  padding-right: 77px;
}

/* Testimonials section styles*/

.testimonials {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 7% 40% 6% 47%;
  grid-template-areas: "col-1 col-2 col-3 col-4";
  justify-items: center;
  align-items: stretch;
}

.testimonials-links {
  grid-area: col-1;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.testimonials-main-image {
  grid-area: col-2;
  width: 100%;
}

#testimonials {
  grid-area: col-3;
  text-align: right;
}

.testimonials-info {
  grid-area: col-4;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 41%;
  text-align: center;
}

.testimonials-quote {
  font-size: 32px;
}

.designer-name, .from-and-skills dt {
  font-weight: 700;
}

.strong-points-list {
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  list-style-type: none;
}

/* Footer section styles */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.phone-and-mail {
  font-style: normal;
}

.product-of strong {
  font-size: 24px;
  font-weight: 900;
}
