@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all:unset;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.content {
  padding: 0 calc(50% - 1400px / 2);
}

h1, h2 {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 135px;
}

.header h1 {
  font-weight: 600;
}

.header-spacer {
  margin-right: auto; 
}

.nav-list {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 55px;
  list-style-type: none;
}

.btn {
  width: 31px;
  height: 30px;
  border: none;
  background-image: url("../img/icons/more-options.svg");
  background-color: white;
}



.hero-section {
  display: flex;
  background-image: url("../img/mod-studio-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center; 
  align-items: center;
  min-height: 630px;
}

.hero {
  display: flex;
  width: 690px;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.hero p {
  font-size: 24px
}

.container {
  max-width: 1440px;
  margin: auto, 0;
}

.section-name {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.rotated {
  rotate: -90deg;
}

#biography {
  top: 219px;
  left: 49%;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 137px;
  padding-right: 138px;
  padding-top: 150px;
}

.biography-image {
  width: 49%;
}

.biography-text {
  width: 39%;
}

.biography-title h2 {
  margin-bottom: 20px;
}

.biography-title p {
  font-size: 20px;
  font-weight: 500;
}

hr {
  width: 15px;
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
}

blockquote {
  font-family: "Bitter";
  font-weight: 400;
}

.biography-quote {
  font-size: 26px;
}

.quote-2 {
  font-size: 32px;
}

.useful-links ul {
  list-style-type: none;
}

.designer-name, .from-and-skills dt {
  font-weight: 700;
}

.strong-points-list {
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  list-style-type: none;
}

.phone-and-mail {
  font-style: normal;
}

.product-of strong {
  font-size: 24px;
  font-weight: 900;
}
