@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all:unset;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 350px;
}

.content {
  padding: 0 calc(50% - 1440px / 2);
}

h1, h2 {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
}

h4, dt {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

blockquote {
  font-family: "Bitter";
  font-weight: 400;
}

/* header - desktop */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 135px;
}

.header h1 {
  font-weight: 600;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.btn {
  width: 31px;
  height: 30px;
  border: none;
  margin-right: 20px;
  margin-left: -25px;
  flex-shrink: 0;
  background-image: url("../img/icons/more-options.svg");
  background-color: white;
}

/* hero - desktop */

.hero-section {
  display: flex;
  background-image: url("../img/mod-studio-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center; 
  align-items: center;
  min-height: 630px;
}

.hero {
  display: flex;
  width: 690px;
  height: 360px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
}

.hero p {
  font-size: 24px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 150px;
  align-items: center;
  margin: 150px auto;
  overflow: hidden;
}

.container > * {
  padding: 0 20px;
}

.designers, .strong-points {
  overflow-x: auto;
  max-width: 100vw;
}

.section-name {
  font-size: 24px;
  font-weight: 700;
}

.rotated {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

/* biography - desktop */

#biography {
  align-self: flex-start;
}

.biography {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1165px;
}

.biography-image {
  width: 49%;
}

.biography-text {
  width: 39%;
}

.biography-person-name {
  margin-bottom: 38px;
  width: 120px;
}

.biography-title p {
  font-size: 18px;
  font-weight: 500;
}


.biography-person-skills {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
 }

.biography-person-skills li {
  display: inline-block;
  &:not(:last-child)::after {
    content: "/";
  }
}

hr {
  width: 20px;
  border: 3px solid black;
  margin-top: 34px;
  margin-bottom: 22px;
}

.biography-quote {
  font-size: 26px;
  padding-right: 77px;
}

.biography-quote p br {
  display: none;
}

/* designers - desktop */

#designers, #strong-points {
  padding-bottom: 30px;
  padding-left: 119px;
}

.designers-list {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

.designer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
}

.designer-annotation, .designer-smaller-image{
  width: 337px;
}

.designer-bigger-image {
  width: 572px;
}

.from-and-skills :is(dt, dd) {
  display: inline-block;
}

/* testimonials desktop */

.testimonials {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 7% 40% 6% 47%;
  grid-template-areas: "col-1 col-2 col-3 col-4";
  justify-items: center;
  align-items: stretch;
}

.testimonials-links {
  grid-area: col-1;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.testimonials-main-image {
  grid-area: col-2;
  width: 100%;
}

#testimonials {
  grid-area: col-3;
  text-align: right;
}

.testimonials-info {
  grid-area: col-4;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 41%;
  text-align: center;
}

.testimonials-quote {
  font-size: 32px;
}

/* strengths - desktop */

.strong-points-images-and-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.strong-points-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bitter";
  font-size: 34px;
  font-weight: 400;
  padding-left: 36px;
  padding-right: 36px;
}

.strong-points-images-and-list img {
  width: 335px;
}

/* footer - desktop */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 70px 20px;
}

.phone-and-mail {
  font-style: normal;
}

.product-of strong {
  font-size: 24px;
  font-weight: 900;
}

/* TABLET VERSION */


@media (max-width: 768px) {

  h2 {
    font-size: 70px;
  }

  .biography-quote, .testimonials-quote {
    font-size: 30px;
    font-weight: 300;
  }

  .section-name, .testimonials-links {
    writing-mode: horizontal-tb;
    rotate: none;
  }

  .section-name {
    font-size: 18px;
  }

  /* header - tablet */

  .header {
    min-height: 82px;
  }
  
  .header h1 {
    display: none;
  }

  nav {
    width: 100%;
    padding: 0 45px;
  }

  .nav-list li {
    color: #fff;
    width: 27px;
    white-space: nowrap;
    overflow: hidden;
    &::first-letter {
      color: black;
      font-family: "Bitter";
      font-weight: 400;
      font-size: 40px;
    }
  }

  .btn {
    margin: 0;
  }

  /* hero - tablet */

  .hero-section {
    background-image: url("../img/hero-background-pic-tablet.jpg");
    background-position: left;
    align-items: start;
    min-height: 685px;
  }

  .hero {
    width: 100%;
    height: 303px;
  }

  .hero p {
    font-size: 18px;
  }

  .container {
    gap: 80px;
    margin: 80px auto;
  }

  .container > * {
    padding: 0 16px;
  }

  /* biography - tablet */

  .biography {
    flex-wrap: wrap;
    padding: 0;
  }

  .biography-title, .biography-text{
    display: contents;
  }

  .biography-person-annotation {
    padding-left: 16px;
    order: 1;
    width: 50%;
  }

  .biography-person-skills li {
    display: block;
    &:before {
      content: "- ";
    }
    
    &:not(:last-child)::after {
      content: none;
    }
  }

  #biography {
    order: 2;
    width: 50%;
    text-align: right;
    vertical-align: top;
    padding-right: 16px;
  }

  .biography-quote {
    order: 3;
    padding: 57px 16px 120px 16px;
    width: 100%;
  }

  .biography-quote p br {
    display: inline;
  }

  .biography hr {
    display: none;
  }

  .biography-person-name {
    order: 4;
    padding-left: 16px;
    width: 100%;
    font-size: 64px;
    font-weight: 400;
    &:before {
      content: "-";
    }
  }

  .biography-image {
    order: 5;
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 0;
  }

  /* designers - tablet */

  .designers, .strong-points {
    max-width: 100%;
  }

  #designers, #strong-points {
    padding: 0 0 32px 0;
  }

  .designer-bigger-image, .designer-smaller-image {
    width: 310px;
    height: 440px;
  }

  .designer-bigger-image {
    object-fit: cover;
  }

  .designer-smaller-image {
    object-fit: fill;
  }

  .designer-annotation {
    width: 310px;
  }

  /* testimonials - tablet */

  .testimonials-main-image {
    display: none;
  }

  .testimonials {
    display: flex;
    flex-wrap: wrap;
  }

  #testimonials {
    width: 100%;
    order: 1;
  }

  .testimonials-info {
    width: 100%;
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 0;
  }

  .testimonials-info img {
    width: 46%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .testimonials-quote {
    width: 48%;
    padding-top: 29px;
  }

  .testimonials-links {
    order: 3;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* strengths - tablet */

  .strong-points-list {
    order: 1;
    padding: 0;
    margin-top: -8px;
  }

  .strong-points-list h2 {
    font-size: 46px;
  }

  .strong-points-list ul {
    font-size: 24px;
    line-height: 1.5;
  }

  .strong-points-images-and-list img {
    width: 310px;
    aspect-ratio: 1.5;
  }

  .strong-points-images-and-list img:nth-child(1) {order: 2;}
  .strong-points-images-and-list img:nth-child(2) {order: 3;}
  .strong-points-images-and-list img:nth-child(4) {order: 4;}

  /* footer - tablet */

  .footer {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 45px 14px;
  }

  .phone-and-mail {
    order: 2;
    line-height: 2;
  }

  .product-of {
    order: 1;
    align-self: end;
  }

  .copyright {
    order: 3;
    font-size: 16px;
  }
}

/* MOBILE VERSION */

@media (max-width: 450px) {

  /* header - mobile */

  .nav-list {
    gap: initial;
  }

  /* biography - mobile */

  .biography-quote {
    padding-right: 16px;
  }

  /* testimonials - mobile */

  .testimonials-info {
    flex-direction: column;
    gap: 28px;
  }

  .testimonials-info img {
    width: 100%;
  }

  .testimonials-quote {
    padding: 0;
    width: 85%;
  }
}
