body { @include font-set; }

.content {
  padding: 0 calc(50% - 1440px / 2);
}

h1, h2 {
  @include font-set("Playfair Display", 86px, 500)
}

h4, dt {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

blockquote {
  @include font-set($fm: "Bitter", $wt: 400)
}

/* header - desktop */

.header {
  @include flex-set;
  min-height: 135px;

  h1 {
    font-weight: 600;
    padding: 0 20px;
  }
}

.nav-list {
  @include flex-set;
  font-size: 24px;
  font-weight: 500;
  gap: 55px;

  &__button {
    width: 31px;
    height: 30px;
    border: none;
    margin-right: 20px;
    margin-left: -25px;
    flex-shrink: 0;
    background-image: url("../img/icons/more-options.svg");
    background-color: white;
  }
}

/* hero - desktop */

.hero {
  @include flex-set($jc: center);
  background-image: url("../img/mod-studio-header-picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 630px;

  &__info {
    @include flex-set($dir: column, $jc: center);
    width: 690px;
    height: 360px;
    background-color: white;
    text-align: center;
  }

  p {
    font-size: 24px;
  }
}

.container {
  @include flex-set($dir: column, $jc: space-evenly);
  gap: 150px;
  margin: 150px auto;
  overflow: hidden;

  & > * {
    padding: 0 20px;
  }
}

.designers, .strong-points {
  overflow-x: auto;
  max-width: 100vw;
}

.section-name {
  font-size: 24px;
  font-weight: 700;
}

.rotated {
  writing-mode: vertical-rl;
  rotate: 180deg;
}

/* biography - desktop */

#biography {
  align-self: flex-start;
}

.biography {
  @include flex-set;
  max-width: 1165px;

  &__image {
    width: 49%;
  }

  &__text {
    width: 39%;
  }

  &__person-name {
    margin-bottom: 38px;
    width: 120px;
  }

  &__title {
    p {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &__person-skills {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    
    li {
      display: inline-block;
      &:not(:last-child)::after {
        content: "/";
      }
    }
  }

  &__quote {
    font-size: 26px;
    padding-right: 77px;

    p br { display: none; }
    }
  }

hr {
  width: 20px;
  border: 3px solid black;
  margin-top: 34px;
  margin-bottom: 22px;
}

/* designers - desktop */

#designers, #strong-points {
  padding-bottom: 30px;
  padding-left: 119px;
}

.designers-list {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

.designer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;

  &__annotation, &__image_smaller-size {
    width: 337px;
  }

  &__image_bigger-size {
    width: 572px;
  }

  &__from-and-skills {
    dt, dd {
      display: inline-block;
    }
  }
}

/* testimonials desktop */

.testimonials {
  display: grid;
  max-width: 1120px;
  grid-template-columns: 7% 40% 6% 47%;
  grid-template-areas: "col-1 col-2 col-3 col-4";
  justify-items: center;
  align-items: stretch;

  &__links {
    grid-area: col-1;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  &__image_main {
    grid-area: col-2;
    width: 100%;
  }

  &__info {
    grid-area: col-4;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 41%;
    text-align: center;
  }

  &__quote {
    font-size: 32px;
  }
}

#testimonials {
  grid-area: col-3;
  text-align: right;
}

/* strengths - desktop */

.strong-points {
  &__images-and-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 21px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;

    img {
      width: 335px;
    }        
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Bitter";
    font-size: 34px;
    font-weight: 400;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@supports (display: grid) {
  .strong-points__images-and-list {
    display: grid;
    grid-template-columns: 335px 335px 448px 335px;
    gap: 21px;
  }
}

/* footer - desktop */

.footer {
  @include flex-set;
  background-color: black;
  color: white;
  padding: 70px 20px;

  &__phone-and-mail {
    font-style: normal;
  }

  &__product-of strong {
    font-size: 24px;
    font-weight: 900;
  }
}

/* TABLET VERSION */

@media (max-width: 768px) {

  h2 {
    font-size: 70px;
  }

  .biography__quote, .testimonials__quote {
    font-size: 30px;
    font-weight: 300;
  }

  .section-name, .testimonials__links {
    writing-mode: horizontal-tb;
    rotate: none;
  }

  .section-name {
    font-size: 18px;
  }

  /* header - tablet */

  .header {
    min-height: 82px;

    h1 {
      display: none;  
    }
  }

  nav {
    width: 100%;
    padding: 0 45px;
  }

  .nav-list {

    li {
      color: #fff;
      width: 27px;
      white-space: nowrap;
      overflow: hidden;
      &::first-letter {
        color: black;
        font-family: "Bitter";
        font-weight: 400;
        font-size: 40px;
      }
    }

    &__button {
      margin: 0;
    }
  }

  /* hero - tablet */

  .hero {
    background-image: url("../img/hero-background-pic-tablet.jpg");
    background-position: left;
    align-items: start;
    min-height: 685px;

    &__info {
      width: 100%;
      height: 303px;

      p {
        font-size: 18px;
      }
    }
  }

  .container {
    gap: 80px;
    margin: 80px auto;

    & > * {
      padding: 0 16px;
    }
  }

  /* biography - tablet */

  .biography {
    flex-wrap: wrap;
    padding: 0;

    &__title, &__text {
      display: contents;
    }

    &__person-annotation {
      padding-left: 16px;
      order: 1;
      width: 50%;
    }

    &__person-skills li {
      display: block;
      &:before {
        content: "- ";
      }
    
      &:not(:last-child)::after {
        content: none;
      }
    }

    &__quote {
      order: 3;
      padding: 57px 16px 120px 16px;
      width: 100%;

      p br {
        display: inline;
      }
    }

    hr {
      display: none;
    }

    &__person-name {
      order: 4;
      padding-left: 16px;
      width: 100%;
      font-size: 64px;
      font-weight: 400;
      &:before {
        content: "-";
      }
    }

    &__image {
      order: 5;
      width: 100%;
      height: 400px;
      object-fit: cover;
      padding: 0;
    }
  }

  #biography {
    order: 2;
    width: 50%;
    text-align: right;
    vertical-align: top;
    padding-right: 16px;
  }

  /* designers - tablet */

  .designers, .strong-points {
    max-width: 100%;
  }

  #designers, #strong-points {
    padding: 0 0 32px 0;
  }

  .designer {
    &__image {
      &_bigger-size, &_smaller-size {
        width: 310px;
        height: 440px;
      }

      &_bigger-size {
        object-fit: cover;
      }

      &_smaller-size {
        object-fit: fill;
      }
    }

    &__annotation {
      width: 310px;
    }
  }

  .testimonials {
    display: flex;
    flex-wrap: wrap;

    &__image_main {
      display: none;  
    }

    &__info {
      width: 100%;
      order: 2;
      flex-direction: row;
      justify-content: space-between;
      padding: 28px 0;

      img {
        width: 46%;
        aspect-ratio: 1;
        object-fit: cover;  
      }
    }

    &__quote {
      width: 48%;
      padding-top: 29px;
    }

    &__links {
      order: 3;
      width: 90%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  #testimonials {
    width: 100%;
    order: 1;
  }

  /* strengths - tablet */

  .strong-points {

    &__list {
      order: 1;
      padding: 0;
      margin-top: -8px;

      h2 {
        font-size: 46px;
        padding-bottom: 24px;
      }

      ul {
        font-size: 24px;
        line-height: 1.5;
      }
    }

    &__images-and-list {
      img {
        width: 310px;
        height: 450px;

        &:nth-child(1) { order: 2; }
        &:nth-child(2) { order: 3; }
        &:nth-child(4) { order: 4; }
      }
    }
  }

  @supports ( display: grid ) {
    .strong-points__images-and-list {
      display: grid;
      grid-template-columns: 201px 310px 310px 310px;
      grid-template-areas: "list img-1 img-2 img-3";
      gap: 20px;
    }

    .strong-points__list {
      grid-area: list;
    }
  }

  /* footer - tablet */

  .footer {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding: 45px 14px;

    &__phone-and-mail {
      order: 2;
      line-height: 2;
    }

    &__product-of {
      order: 1;
      align-self: end;
    }

    &__copyright {
      order: 3;
      font-size: 16px;  
    }
  }
}

/* MOBILE VERSION */

@media (max-width: 450px) {

  /* header - mobile */

  .nav-list {
    gap: initial;
  }

  /* biography - mobile */

  .biography__quote {
    padding-right: 16px;
  }

  /* testimonials - mobile */

  .testimonials {
    &__info {
      flex-direction: column;
      align-items: center;
      gap: 28px;

      img {
        width: 100%;
      }
    }

    &__quote {
      padding: 0;
      width: 85%;
    }
  }
}
